modules = ["nodejs-20", "web", "bash"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/wazir-trading: web"

[[workflows.workflow]]
name = "artifacts/wazir-trading: web"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=24102 BASE_PATH=/ pnpm --filter @workspace/wazir-trading run dev"
waitForPort = 24102

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
CLOUDINARY_CLOUD_NAME = "txb1wiw1"
SUPABASE_URL = "https://aphxjblbafyxobafjmot.supabase.co"
WHATSAPP_NUMBER = "818089227375"
VITE_CLOUDINARY_CLOUD_NAME = "txb1wiw1"
VITE_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFwaHhqYmxiYWZ5eG9iYWZqbW90Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ0MzAwNDYsImV4cCI6MjEwMDAwNjA0Nn0.TYmXInro72FHAf3E0pGm0QbZfwk7hNQ26RiA53ytjfY"
VITE_SUPABASE_URL = "https://aphxjblbafyxobafjmot.supabase.co"
VITE_WHATSAPP_NUMBER = "818089227375"

[nix]
channel = "stable-25_05"
